
html {
    background: white;
    color: #FAFAFA;
    font-family: monospace;
    font-size: 20px;
    padding: 10px 20px;
}

h1 {
    font-weight: 300;
}

a {
    color: #FAFAFA;
    display: block;
    padding: 15px 0;
}

.channels {
    
    color: snow;
    
    
}
