<a-entity look-at=[camera] geometry="primitive: plane; width:2; height:2.4" material="color: #F15A24" position="4.5 2.6 0">
 <a-entity material="color:white", text="text: MenuItem1; size:0.2", position="-0.4 0.88 -0.04" >
</a-entity>
