<a-entity id="flowtemplate" geometry="primitive:plane;height:0.44;width:1.97" position="{{xpos}} {{ypos}} 0.003" visible="true" material="color:#242424;shader:flat;side:double;transparent:true;opacity:1" scale="1 1 1">
    <a-entity data-brackets-id="15100" material="color:#ffffff" text="text:Sports;font:open sans;" position="0 0 0.01" rotation="0 0 0" scale="0.2 0.2 0.2" visible="true"></a-entity>
</a-entity>